<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>{% block title %}Bataille navale{% endblock %}</title>
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	<link href="{{ asset('css/style.css') }}" rel="stylesheet">
	<link href='https://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
</head>
<body>
{% block body %}{% endblock %}</body>
</html>