{% extends 'AppBundle:template.html.twig' %}

{% block title %}
 Attente joueur
{% endblock %}

{% block body %}

<h1>Partie </h1>
<h2></h2>
<h4>Cliquez pour vérifier si quelqu'un a rejoint la partie</h4>
<form action="{{ path('player2_joined', {'game_id': 2}) }}" method="get">
	<button type="submit" value="Créer une partie" class="btn btn-default">Vérifier</button>
</form>	
 Pas de nouveau joueur
{% endblock %}