body{
	background-color: #F5F5F5; color: #454545;
	font-family: Arial, sans-serif;
	text-align: center;
}
.parties{
	display: inline-block;
	width: 600px;
	padding: 20px 30px;
	text-align: left;
}
.partie{
	margin: 10px;
}
.nom{
	display: inline-block; width: 400px;
}
form{
	display: inline-block; width: 150px;
}