/* Page d'accueil list_games */
body{
	background-color: #F5F5F5; color: #454545;
	text-align: center;
}
h1{
	font-family: Oswald, sans-serif;
}
.parties{
	display: inline-block;
	width: 600px;
	padding: 20px 30px;
	text-align: left;
	border: 1px solid black;
}
.partie{
	margin: 10px;
}
.nom{
	display: inline-block; width: 400px;
}
form{
	display: inline-block;
}

.creer{
	margin: 30px 0;
}
.creer form{
	width: 200px;
}

.form-control{
	margin-bottom: 20px;
}
.placeShip{
	margin: 50px 50px;
}
.placeShip div[class^="choice"]{
	margin: 20px;
}
.placeShip div > span > input{
	display: inline-block;
	width: 100px;
	margin: 0px 10px;
}

.confirm{
	margin-top: 40px;
}
